html {
  background-color: #e8dbcf !important;
}

.primary-color {
  background-color: #6d4e3a !important;
}

.has-text-brown {
  color: #6d4e3a !important;
}

.has-text-big-size {
  font-size: 4em !important;
}

nav.navbar a.active {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 5px !important;
  text-decoration-style: solid;
  text-underline-offset: 10px;
}